{
    "env": {
      "commonjs": true,
      "es6": true,
      "node": true,
      "jest": true,
      "browser": true
    },
    "extends": ["airbnb", "prettier", "plugin:react/recommended"],
    "plugins": ["react"],
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/prefer-stateless-function": "off",
      "react/forbid-prop-types": ["warn", { "forbid": ["array", "object"] }],
      "react/react-in-jsx-scope": "off"
    }
  }
